@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  /* background-color: #3f3f3f; */
  background-color: #c0c0c0;
  /* background-image: linear-gradient(to bottom ,rgba(255, 167, 4, 0.774) 50%, rgba(255, 115, 0, 0.765) 50%); */
  height: 100vh;
}

